# {{ room }} sensors
- sensor:
    - name: "Average Temperature - {{ room }}"
      unit_of_measurement: "°C"
      state: >
        {% raw %}
        {% set area = {% endraw %}'{{ room }}'{% raw %} %}
        {% set temps = states.sensor
          | selectattr('attributes.device_class', 'equalto', 'temperature')
          | selectattr('entity_id', 'ne', this.entity_id)
          | rejectattr('state', 'in', ['unavailable', 'unknown', '0'])
          | selectattr('state', 'is_number')
          | selectattr('entity_id', 'in', area_entities(area))
          | selectattr('device_id', 'defined')
          | selectattr('device_id', 'in', states.device_labels['sensor'] | map(attribute='device_id') | list)
          | map(attribute='state') | map('float') | list %}
        {% if temps | length > 0 %}
          {{ (temps | sum) / (temps | length) }}
        {% else %}
          unknown
        {% endif %}
        {% endraw %}

    - name: "Average Humidity - {{ room }}"
      unit_of_measurement: "%"
      state: >
        {% raw %}
        {% set area = {% endraw %}'{{ room }}'{% raw %} %}
        {% set humidities = states.sensor
          | selectattr('attributes.device_class', 'equalto', 'humidity')
          | selectattr('entity_id', 'ne', this.entity_id)
          | rejectattr('state', 'in', ['unavailable', 'unknown', '0'])
          | selectattr('state', 'is_number')
          | selectattr('entity_id', 'in', area_entities(area))
          | selectattr('device_id', 'defined')
          | selectattr('device_id', 'in', states.device_labels['sensor'] | map(attribute='device_id') | list)
          | map(attribute='state') | map('float') | list %}
        {% if humidities | length > 0 %}
          {{ (humidities | sum) / (humidities | length) }}
        {% else %}
          unknown
        {% endif %}
        {% endraw %}

- binary_sensor:
    - name: "Occupancy - {{ room }}"
      device_class: occupancy
      state: >
        {% raw %}
        {% set area = {% endraw %}'{{ room }}'{% raw %} %}
        {% set sensors = expand(area_entities(area))
          | selectattr('domain', 'equalto', 'binary_sensor')
          | selectattr('attributes.device_class', 'in', ['motion', 'occupancy']) %}
        {{ sensors | selectattr('state', 'equalto', 'on') | list | count > 0 }}
        {% endraw %}
